 /* colores */
 $primary-color:     #4A154B;
 $secundary-color:   #611F69;
 $background1-color: #FFFFFF;
 $background2-color: #F6EFE8;
 $icons-links-color: #4D8ABA;
 $font-color-white:  #FFFFFF;
 $font-color-black:  #1D1D1D;
 $background-color-hover:  #2d0d30;
 
 
  /* Fuentes */
 $primary-font: 'Nunito', sans-serif;
 $secundary-font: 'Roboto', sans-serif;